@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
  body {
    @apply font-body;
  }

  /* transition */
  .b-transition {
    @apply transition duration-300 ease-in-out;
  }

  .social-icon {
    @apply text-white bg-fuchsia-500 rounded-full w-10 h-10 text-center mx-1 b-transition inline-block py-2 hover:bg-fuchsia-600;
  }

  .burger-div {
    @apply w-6 h-[3px] bg-gray-600 rounded-xl;
  }

  .report-btn {
    @apply w-2 h-2 rounded-full bg-gray-600;
  }

  /* btn & input style */
  .btn-transparent {
    @apply px-8 py-2 rounded-md border border-white text-white b-transition font-semibold outline-none;
  }

  .btn-white {
    @apply px-8 py-2 rounded-md outline-none shadow-md text-gray-700 bg-white b-transition;
  }

  .btn-fuchsia {
    @apply px-8 py-2 text-white bg-fuchsia-500 rounded-md b-transition hover:bg-fuchsia-600;
  }

  .input-white {
    @apply rounded-md text-gray-700 outline-none shadow-md;
  }

  /* heading className */
  .big-heading {
    @apply text-4xl md:text-7xl font-bold mb-7 md:mb-0;
  }

  .h1-style {
    @apply font-semibold text-4xl;
  }

  .h2-style {
    @apply font-semibold text-2xl;
  }

  .h3-style {
    @apply font-semibold text-xl;
  }

  /* section class komponen bergabung.tsx */
  .container-section {
    @apply container mx-auto px-0 md:px-4 h-full;
  }

  .w-section {
    @apply w-full sm:w-[85%] md:w-[70%] lg:w-1/2 px-4 mt-4;
  }

  .box-section {
    @apply relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-fuchsia-500 border-0;
  }

  .wrap-section {
    @apply px-6 py-10 text-white text-center;
  }

  /* leftsidebar class component LeftSidebar.tsx */
  .title-leftsidebar {
    @apply text-xl font-bold;
  }

  .card-leftsidebar {
    @apply border border-gray-300 bg-white rounded-md shadow;
  }

  .item-card-leftsidebar {
    @apply border-b border-gray-300 py-4 px-6 cursor-pointer hover:bg-gray-100;
  }

  .text-card-leftsidebar {
    @apply font-semibold leading-5;
  }

  .tag-card-leftsidebar {
    @apply text-sm mt-1;
  }

  /* Nav Profile class component NavProfile.tsx */
  .li-item-profile {
    @apply relative rounded-full b-transition p-2 cursor-pointer hover:bg-gray-300;
  }

  .li-item-profile-menu {
    @apply text-gray-700 block px-4 py-2 text-sm cursor-pointer hover:bg-gray-200;
  }

  .dropdown-list-nav {
    @apply absolute right-0 mt-2 top-10 rounded-md shadow-lg bg-gray-50 ring-1 ring-black ring-opacity-5 focus:outline-none;
  }

  .dropdown-list-notif {
    @apply px-4 py-2 block text-sm hover:bg-gray-100 border-b;
  }

  /* Feed class component Feed.tsx */
  .text-opacity-feed {
    @apply text-opacity-80 text-gray-500 text-sm;
  }
  .text-icon-feed {
    @apply text-opacity-feed ml-1 text-xs md:text-sm;
  }

  /* NavMiddle class component NavMiddle.tsx */
  .li-item-navmid {
    @apply md:mx-3 border-fuchsia-500 b-transition mb-1 md:mb-0 hover:border-b hover:text-fuchsia-500;
  }

  /* IdeaContent & IdeaPublish class component .tsx*/
  .article-prose {
    @apply prose prose-a:text-fuchsia-500 prose-headings:text-fuchsia-500 lg:prose-lg mx-auto prose-a:underline prose-a:decoration-fuchsia-500;
  }

  .article-wrapper {
    @apply bg-white rounded-md border border-gray-300 px-24 py-16 mb-10 shadow;
  }

  /* RightSidebar class component .tsx */
  .li-r-sidebar {
    @apply pb-3 hover:scale-110 b-transition hover:rotate-2;
  }

  /* index.tsx & footer.tsx class component */
  .text-h-rotate {
    @apply text-fuchsia-500 b-transition hover:scale-105 inline-block hover:-rotate-3;
  }

  /* index.tsx langit-ide className*/
  .li-top-menu {
    @apply px-2 text-xl hover:text-fuchsia-500;
  }
  /* TextArea class component */
  .txt-area {
    @apply resize-none block w-full bg-clip-padding rounded b-transition focus:outline-none overflow-hidden;
  }

  .btn-idea-right {
    @apply flex-1 rounded-tr-full border-l-4 hover:translate-x-10 b-transition border-dashed border-fuchsia-500 rounded-br-full rounded-md content-center;
  }
}
